/* General Styles */
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  
  a {
    color: #CA5D1E;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Header Styles */
/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333333;
  }
  
  .logo {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links a:hover {
    color: #CA5D1E;
  }
  
  .cta-button {
    background-color: #CA5D1E;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #C8CC21;
  }
  
  /* Menu Toggle (Hamburguesa) */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #FFFFFF;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Ocultar el menú en pantallas pequeñas */
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      background-color: #333333;
      padding: 1rem;
    }
  
    .nav-links.active {
      display: flex; /* Mostrar el menú cuando esté activo */
    }
  
    .menu-toggle {
      display: flex; /* Mostrar el menú hamburguesa en pantallas pequeñas */
    }
  
    .cta-button {
      display: none; /* Ocultar el botón CTA en pantallas pequeñas */
    }
  
    .nav-links a {
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid #555555;
    }
  
    .nav-links a:hover {
      background-color: #CA5D1E;
    }
  }
  
  /* Hero Section */
  .hero {
    width: 95%;
    height: 80vh;
    background: url('../img/principal-foto-bg.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .hero-content {
    background-color: rgba(85, 85, 85, 0.57); /* Fondo transparente para legibilidad */
    padding: 50px;
    max-width: 500px;
    margin: 1rem;
    color: #FFFFFF;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    color: #CA5D1E;
  }
  
  .hero-content p {
    font-size: 1.2rem;
  }
  
  .hero-button {
    background-color: #CA5D1E;
    color: #FFFFFF;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .hero-button:hover {
    background-color: #C8CC21;
  }

  .hero img {
    width: 400px;
    height: 400px;
  }
  
 /* Sección Carrusel y Sobre Nosotros */
.carousel-section {
    margin: 40px;
    justify-content: center;
    padding: 2rem;
    background-color: #F5F5F5;
  }
  
  .carousel-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
  
  /* Estilos para el Carrusel */
  .carousel {
    margin-top: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los items del carrusel al centro horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    gap: 1.5rem;
    text-align: center; /* Asegura que el texto esté centrado */
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen y la leyenda */
  }
  
  .carousel-item img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .legend {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 100%; /* Asegura que la leyenda ocupe todo el ancho disponible */
    text-align: center; /* Centra el texto dentro de la leyenda */
  }
   
  /* Estilos para la Sección Sobre Nosotros */
  .about-us {
    margin-top: 32px;
    flex: 1; /* La sección de Sobre Nosotros ocupa espacio */
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .about-us h3 {
    color: #CA5D1E;
    margin-bottom: 1rem;
  }
  
  .about-us p {
    color: #555555;
    margin-bottom: 1rem;
  }
  
  /* Diseño Responsivo */
  @media (max-width: 768px) {
    .carousel-container {
      flex-direction: column; /* Pone el carrusel y Sobre Nosotros en columnas en pantallas pequeñas */
    }
  
    .carousel-item img {
      height: 150px;
      width: 150px;
    }
  
    .about-us {
      margin-top: 2rem;
    }
  }
  
  
  /* Collection Section */
  .collection {
    padding: 2rem;
    background-color: #FFFFFF;
  }
  
  .collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .product-card {
    background: #F5F5F5;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
  }
  
  .view-more {
    background-color: #CA5D1E;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
  }
  
  .view-more:hover {
    background-color: #C8CC21;
  }
  
/* Sección Combinada */
.combined-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .fragrance-form, .testimonials {
    flex: 1;
    min-width: 280px; /* Ajuste para pantallas pequeñas */
  }
  
  .fragrance-form {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem 0;
    text-align: center;
  }
  
  .fragrance-form .form-group {
    margin-bottom: 1rem;
  }
  
  .fragrance-form select, .fragrance-form input {
    padding: 0.5rem;
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .fragrance-form button {
    background-color: #CA5D1E;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
  }
  
  .fragrance-form button:hover {
    background-color: #C8CC21;
  }
  
  .recommendation-result {
    margin-top: 1rem;
    font-weight: bold;
    color: #CA5D1E;
  }
  
  /* Testimonials */
  .testimonials {
    background: #F5F5F5;
    padding: 2rem;
    text-align: center;
    overflow: hidden;
  }
  
  .testimonials-container {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 1rem;
  }
  
  .testimonial {
    background: white;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .testimonial blockquote {
    font-style: italic;
    color: #555555;
  }
  
  .testimonial p {
    font-weight: bold;
    color: #333333;
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .combined-section {
      flex-direction: column;
    }
  }
  
  
/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .footer .social-media,
  .footer .contact-info {
    flex: 1;
    min-width: 280px; /* Ajuste para pantallas pequeñas */
  }
  
  .footer .social-media h3,
  .footer .contact-info h3 {
    margin-bottom: 1rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .hero {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .hero-content {
      padding: 1rem;
    }
  
    .carousel-item img {
      height: 150px;
      width: 150px;
    }
  
    .collection-grid {
      grid-template-columns: 1fr;
    }
  }
  